<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413433346211-596fpqvad17r0f9dvusqj6q8ovggjaid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413433346211-596fpqvad17r0f9dvusqj6q8ovggjaid</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>413433346211-7hvtg0mbci2quu8uroqtcqmnecoq422s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCq4dF121oymhtwO5gtkzDXZNEQDN9jaKw</string>
	<key>GCM_SENDER_ID</key>
	<string>413433346211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gizmoglobeClient</string>
	<key>PROJECT_ID</key>
	<string>se121p11-gizmoglobe</string>
	<key>STORAGE_BUCKET</key>
	<string>se121p11-gizmoglobe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413433346211:ios:1b0f95ea2bf4835d73a716</string>
</dict>
</plist>